# Acquiring the data from the interwebz using worldfootballR

### This notebook loads data using the worldfootballR package. To understand this package and the code better, I suggest reading the documentation.

In [4]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

During startup - Warning messages:
1: Setting LC_COLLATE failed, using "C"
2: Setting LC_TIME failed, using "C"
3: Setting LC_MESSAGES failed, using "C"
4: Setting LC_MONETARY failed, using "C"

In [5]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [6]:
%%R

# My commonly used R imports

require('tidyverse')

R[write to console]: Loading required package: tidyverse

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## I am trying to create a dataframe that collates points for every year along with expenditure

Using the package worldfootballR, we will import historical ponts tables and then add them into one big dataframe.
I am using historical transfer data from transferMarkt.

In [7]:
%%R

require('worldfootballR')

R[write to console]: Loading required package: worldfootballR

In [8]:
%%R -o league_2023

league_2023 <- try({
fb_season_team_stats("ENG", "M", 2023, "1st", "league_table")
})

In [9]:
%%R -o league_2022

league_2022 <- try({
fb_season_team_stats("ENG", "M", 2022, "1st", "league_table")
})

In [10]:
%%R -o league_2021

league_2021 <- try({
fb_season_team_stats("ENG", "M", 2021, "1st", "league_table")
})

In [11]:
%%R -o league_2020

league_2020 <- try({
fb_season_team_stats("ENG", "M", 2020, "1st", "league_table")
})

In [12]:
%%R -o league_2019

league_2019 <- try({
fb_season_team_stats("ENG", "M", 2019, "1st", "league_table")
})

In [13]:
%%R -o league_2018

league_2018 <- try({
fb_season_team_stats("ENG", "M", 2018, "1st", "league_table")
})

In [14]:
%%R -o league_2017

league_2017 <- try({
fb_season_team_stats("ENG", "M", 2017, "1st", "league_table")
})

In [15]:
%%R -o league_2016

league_2016 <- try({
fb_season_team_stats("ENG", "M", 2016, "1st", "league_table")
})

In [16]:
%%R -o league_2015

league_2015 <- try({
fb_season_team_stats("ENG", "M", 2015, "1st", "league_table")
})

In [17]:
%%R -o league_2014

league_2014 <- try({
fb_season_team_stats("ENG", "M", 2014, "1st", "league_table")
})

In [18]:
%%R -o league_2013

league_2013 <- try({
fb_season_team_stats("ENG", "M", 2013, "1st", "league_table")
})

In [19]:
%%R -o league_2012

league_2012 <- try({
fb_season_team_stats("ENG", "M", 2012, "1st", "league_table")
})

In [20]:
%%R -o league_2011

league_2011 <- try({
fb_season_team_stats("ENG", "M", 2011, "1st", "league_table")
})

In [21]:
%%R -o league_2010

league_2010 <- try({
fb_season_team_stats("ENG", "M", 2010, "1st", "league_table")
})

In [22]:
%%R -o league_2009

league_2009 <- try({
fb_season_team_stats("ENG", "M", 2009, "1st", "league_table")
})

In [23]:
%%R -o league_2008

league_2008 <- try({
fb_season_team_stats("ENG", "M", 2008, "1st", "league_table")
})

In [24]:
%%R -o league_2007

league_2007 <- try({
fb_season_team_stats("ENG", "M", 2007, "1st", "league_table")
})

In [25]:
%%R -o league_2006

league_2006 <- try({
fb_season_team_stats("ENG", "M", 2006, "1st", "league_table")
})

In [26]:
%%R -o league_2005

league_2005 <- try({
fb_season_team_stats("ENG", "M", 2005, "1st", "league_table")
})

In [27]:
%%R -o league_2004

league_2004 <- try({
fb_season_team_stats("ENG", "M", 2004, "1st", "league_table")
})

In [28]:
%%R -o league_2003

league_2003 <- try({
fb_season_team_stats("ENG", "M", 2003, "1st", "league_table")
})

In [29]:
%%R -o league_2002

league_2002 <- try({
fb_season_team_stats("ENG", "M", 2002, "1st", "league_table")
})

In [30]:
%%R -o league_2001

league_2001 <- try({
fb_season_team_stats("ENG", "M", 2001, "1st", "league_table")
})

In [31]:
%%R -o league_2000

league_2000 <- try({
fb_season_team_stats("ENG", "M", 2000, "1st", "league_table")
})

In [32]:
%%R -o league_1999

league_1999 <- try({
fb_season_team_stats("ENG", "M", 1999, "1st", "league_table")
})

In [33]:
%%R -o league_1998

league_1998 <- try({
fb_season_team_stats("ENG", "M", 1998, "1st", "league_table")
})

In [34]:
%%R -o league_1997

league_1997 <- try({
fb_season_team_stats("ENG", "M", 1997, "1st", "league_table")
})

In [35]:
%%R -o league_1996

league_1996 <- try({
fb_season_team_stats("ENG", "M", 1996, "1st", "league_table")
})

In [36]:
%%R -o league_1995

league_1995 <- try({
fb_season_team_stats("ENG", "M", 1995, "1st", "league_table")
})

In [37]:
%%R -o league_1994

league_1994 <- try({
fb_season_team_stats("ENG", "M", 1994, "1st", "league_table")
})

In [38]:
%%R -o league_1993

league_1993 <- try({
fb_season_team_stats("ENG", "M", 1993, "1st", "league_table")
})

In [39]:
%%R -o league_1992

league_1992 <- try({
fb_season_team_stats("ENG", "M", 1992, "1st", "league_table")
})

In [40]:
#save all the dataframes as one list in python
league_list = [league_2023, league_2022, league_2021, league_2020, league_2019, league_2018, league_2017, league_2016, league_2015, league_2014, league_2013, league_2012, league_2011, league_2010, league_2009, league_2008, league_2007, league_2006, league_2005, league_2004, league_2003, league_2002, league_2001, league_2000, league_1999, league_1998, league_1997, league_1996, league_1995, league_1994, league_1993, league_1992]

In [41]:
#Loop through league_list and rename each Pts column to the year of the season and save it as a csv
for i in range(len(league_list)):
    league_list[i].rename(columns={'Pts': 'Pts_'+str(2023-i)}, inplace=True)
    league_list[i] = league_list[i][['Squad', 'Pts_'+str(2023-i)]]
    league_list[i].to_csv('data/league_'+str(2023-i)+'.csv', index=False)

In [42]:
#Keep all the squads in one column and all the points for each season in another column
league_2023 = pd.read_csv('data/league_2023.csv')
league_2022 = pd.read_csv('data/league_2022.csv')
league_2021 = pd.read_csv('data/league_2021.csv')
league_2019 = pd.read_csv('data/league_2019.csv')
league_2020 = pd.read_csv('data/league_2020.csv')
league_2018 = pd.read_csv('data/league_2018.csv')
league_2017 = pd.read_csv('data/league_2017.csv')
league_2016 = pd.read_csv('data/league_2016.csv')
league_2015 = pd.read_csv('data/league_2015.csv')
league_2014 = pd.read_csv('data/league_2014.csv')
league_2013 = pd.read_csv('data/league_2013.csv')
league_2012 = pd.read_csv('data/league_2012.csv')
league_2011 = pd.read_csv('data/league_2011.csv')
league_2010 = pd.read_csv('data/league_2010.csv')
league_2009 = pd.read_csv('data/league_2009.csv')
league_2008 = pd.read_csv('data/league_2008.csv')
league_2007 = pd.read_csv('data/league_2007.csv')
league_2006 = pd.read_csv('data/league_2006.csv')
league_2005 = pd.read_csv('data/league_2005.csv')
league_2004 = pd.read_csv('data/league_2004.csv')
league_2003 = pd.read_csv('data/league_2003.csv')
league_2002 = pd.read_csv('data/league_2002.csv')
league_2001 = pd.read_csv('data/league_2001.csv')
league_2000 = pd.read_csv('data/league_2000.csv')
league_1999 = pd.read_csv('data/league_1999.csv')
league_1998 = pd.read_csv('data/league_1998.csv')
league_1997 = pd.read_csv('data/league_1997.csv')
league_1996 = pd.read_csv('data/league_1996.csv')
league_1995 = pd.read_csv('data/league_1995.csv')
league_1994 = pd.read_csv('data/league_1994.csv')
league_1993 = pd.read_csv('data/league_1993.csv')
league_1992 = pd.read_csv('data/league_1992.csv')

In [43]:
#Merge all the dataframes into one dataframe
league_historical = pd.merge(league_2023, league_2022, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2021, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2020, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2019, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2018, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2017, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2016, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2015, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2014, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2013, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2012, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2011, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2010, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2009, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2008, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2007, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2006, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2005, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2004, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2003, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2002, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2001, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2000, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1999, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1998, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1997, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1996, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1995, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1994, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1993, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1992, on='Squad', how='outer')


#only keep the Pts columns for each season and rename it to the year of the season
league_historical

,Squad,Pts_2023,Pts_2022,Pts_2021,Pts_2020,Pts_2019,Pts_2018,Pts_2017,Pts_2016,Pts_2015,...,Pts_2001,Pts_2000,Pts_1999,Pts_1998,Pts_1997,Pts_1996,Pts_1995,Pts_1994,Pts_1993,Pts_1992
0,Arsenal,81.0,69.0,61.0,56.0,70.0,63.0,75.0,71.0,75.0,...,70.0,73.0,78.0,78.0,68.0,63.0,51.0,71.0,56.0,72.0
1,Aston Villa,57.0,45.0,55.0,35.0,NaN,NaN,NaN,17.0,38.0,...,54.0,58.0,55.0,57.0,61.0,63.0,48.0,57.0,74.0,60.0
2,Bournemouth,39.0,NaN,NaN,34.0,45.0,44.0,46.0,42.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Brentford,50.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Brighton,55.0,51.0,41.0,41.0,36.0,40.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Chelsea,43.0,74.0,67.0,66.0,72.0,70.0,93.0,50.0,87.0,...,61.0,65.0,75.0,63.0,59.0,50.0,54.0,51.0,56.0,53.0
6,Crystal Palace,43.0,48.0,44.0,43.0,49.0,44.0,41.0,42.0,48.0,...,NaN,NaN,NaN,33.0,NaN,NaN,45.0,NaN,49.0,57.0
7,Everton,32.0,39.0,59.0,49.0,54.0,49.0,61.0,47.0,47.0,...,42.0,50.0,43.0,40.0,42.0,61.0,50.0,44.0,53.0,53.0
8,Fulham,51.0,NaN,28.0,NaN,26.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Leeds United,31.0,38.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,...,68.0,69.0,67.0,59.0,46.0,43.0,73.0,70.0,51.0,82.0
10,Leicester City,30.0,52.0,66.0,62.0,52.0,47.0,44.0,81.0,41.0,...,48.0,55.0,49.0,53.0,47.0,NaN,29.0,NaN,NaN,NaN
11,Liverpool,62.0,92.0,69.0,99.0,97.0,75.0,76.0,60.0,62.0,...,69.0,67.0,54.0,65.0,68.0,71.0,74.0,60.0,59.0,64.0
12,Manchester City,82.0,93.0,86.0,81.0,98.0,100.0,78.0,66.0,79.0,...,34.0,NaN,NaN,NaN,NaN,38.0,49.0,45.0,57.0,70.0
13,Manchester Utd,66.0,58.0,74.0,66.0,66.0,81.0,69.0,66.0,70.0,...,80.0,91.0,79.0,77.0,75.0,82.0,88.0,92.0,84.0,78.0
14,Newcastle Utd,66.0,49.0,45.0,44.0,45.0,44.0,NaN,37.0,39.0,...,51.0,52.0,46.0,44.0,68.0,78.0,72.0,77.0,NaN,NaN
15,Nott'ham Forest,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.0,NaN,34.0,58.0,77.0,NaN,40.0,59.0
16,Southampton,24.0,40.0,43.0,52.0,39.0,36.0,46.0,63.0,60.0,...,52.0,44.0,41.0,48.0,41.0,38.0,54.0,43.0,50.0,52.0
17,Tottenham,57.0,71.0,62.0,59.0,71.0,77.0,86.0,70.0,64.0,...,49.0,53.0,47.0,44.0,46.0,61.0,62.0,45.0,59.0,52.0
18,West Ham,37.0,56.0,65.0,39.0,52.0,42.0,45.0,62.0,47.0,...,42.0,55.0,57.0,56.0,42.0,51.0,50.0,52.0,NaN,38.0
19,Wolves,40.0,51.0,45.0,59.0,57.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Burnley,NaN,35.0,39.0,54.0,40.0,54.0,40.0,NaN,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Norwich City,NaN,22.0,NaN,21.0,NaN,NaN,NaN,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,43.0,53.0,72.0,45.0
22,Watford,NaN,23.0,NaN,34.0,50.0,41.0,40.0,45.0,NaN,...,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sheffield Utd,NaN,NaN,23.0,54.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,52.0,57.0
24,West Brom,NaN,NaN,26.0,NaN,NaN,31.0,45.0,43.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Cardiff City,NaN,NaN,NaN,NaN,34.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Huddersfield,NaN,NaN,NaN,NaN,16.0,37.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Stoke City,NaN,NaN,NaN,NaN,NaN,33.0,44.0,51.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Swansea City,NaN,NaN,NaN,NaN,NaN,33.0,41.0,47.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Hull City,NaN,NaN,NaN,NaN,NaN,NaN,34.0,NaN,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Middlesbrough,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,...,42.0,52.0,51.0,NaN,39.0,43.0,NaN,NaN,44.0,NaN
31,Sunderland,NaN,NaN,NaN,NaN,NaN,NaN,24.0,39.0,38.0,...,57.0,58.0,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
32,QPR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,...,NaN,NaN,NaN,NaN,NaN,33.0,60.0,60.0,63.0,54.0
33,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Wigan Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Blackburn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,35.0,58.0,42.0,61.0,89.0,84.0,71.0,NaN
36,Bolton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.0,NaN,29.0,NaN,NaN,NaN,NaN
37,Birmingham City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Blackpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Portsmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Derby County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.0,38.0,52.0,55.0,46.0,NaN,NaN,NaN,NaN,NaN
41,Charlton Ath,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.0,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Ipswich Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66.0,NaN,NaN,NaN,NaN,NaN,27.0,43.0,52.0,NaN
43,Bradford City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Coventry City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.0,44.0,42.0,52.0,41.0,38.0,50.0,56.0,52.0,44.0
45,Sheffield Weds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,31.0,46.0,44.0,57.0,40.0,51.0,64.0,59.0,75.0
46,Wimbledon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33.0,42.0,44.0,56.0,41.0,56.0,65.0,54.0,53.0
47,Barnsley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN
48,Oldham Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,49.0,51.0
49,Swindon Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN
50,Luton Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0
51,Notts County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0

In [44]:
#Some cleaning up so that we can merge the dataframes later
league_historical['Squad'] = league_historical['Squad'].str.replace('Utd', 'United')
league_historical['Squad'] = league_historical['Squad'].str.replace('Weds', 'Wednesday')
league_historical['Squad'] = league_historical['Squad'].str.replace('Wolves', 'Wolverhampton Wanderers')
league_historical['Squad'] = league_historical['Squad'].str.replace('QPR', 'Queens Park Rangers')
league_historical['Squad'] = league_historical['Squad'].str.replace('Bolton', 'Bolton Wanderers')
league_historical['Squad'] = league_historical['Squad'].str.replace('Nott\'ham Forest', 'Nottingham Forest')
league_historical['Squad'] = league_historical['Squad'].str.replace('Charlton Ath', 'Charlton Athletic')

In [45]:
#add a column called 'Total_Pts' that sums up all the points for each team
league_historical['Total_Pts'] = league_historical.sum(axis=1)
league_historical

,Squad,Pts_2023,Pts_2022,Pts_2021,Pts_2020,Pts_2019,Pts_2018,Pts_2017,Pts_2016,Pts_2015,...,Pts_2000,Pts_1999,Pts_1998,Pts_1997,Pts_1996,Pts_1995,Pts_1994,Pts_1993,Pts_1992,Total_Pts
0,Arsenal,81.0,69.0,61.0,56.0,70.0,63.0,75.0,71.0,75.0,...,73.0,78.0,78.0,68.0,63.0,51.0,71.0,56.0,72.0,2294.0
1,Aston Villa,57.0,45.0,55.0,35.0,NaN,NaN,NaN,17.0,38.0,...,58.0,55.0,57.0,61.0,63.0,48.0,57.0,74.0,60.0,1475.0
2,Bournemouth,39.0,NaN,NaN,34.0,45.0,44.0,46.0,42.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0
3,Brentford,50.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0
4,Brighton,55.0,51.0,41.0,41.0,36.0,40.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,264.0
5,Chelsea,43.0,74.0,67.0,66.0,72.0,70.0,93.0,50.0,87.0,...,65.0,75.0,63.0,59.0,50.0,54.0,51.0,56.0,53.0,2234.0
6,Crystal Palace,43.0,48.0,44.0,43.0,49.0,44.0,41.0,42.0,48.0,...,NaN,NaN,33.0,NaN,NaN,45.0,NaN,49.0,57.0,664.0
7,Everton,32.0,39.0,59.0,49.0,54.0,49.0,61.0,47.0,47.0,...,50.0,43.0,40.0,42.0,61.0,50.0,44.0,53.0,53.0,1659.0
8,Fulham,51.0,NaN,28.0,NaN,26.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691.0
9,Leeds United,31.0,38.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,...,69.0,67.0,59.0,46.0,43.0,73.0,70.0,51.0,82.0,902.0
10,Leicester City,30.0,52.0,66.0,62.0,52.0,47.0,44.0,81.0,41.0,...,55.0,49.0,53.0,47.0,NaN,29.0,NaN,NaN,NaN,817.0
11,Liverpool,62.0,92.0,69.0,99.0,97.0,75.0,76.0,60.0,62.0,...,67.0,54.0,65.0,68.0,71.0,74.0,60.0,59.0,64.0,2235.0
12,Manchester City,82.0,93.0,86.0,81.0,98.0,100.0,78.0,66.0,79.0,...,NaN,NaN,NaN,NaN,38.0,49.0,45.0,57.0,70.0,1781.0
13,Manchester United,66.0,58.0,74.0,66.0,66.0,81.0,69.0,66.0,70.0,...,91.0,79.0,77.0,75.0,82.0,88.0,92.0,84.0,78.0,2510.0
14,Newcastle United,66.0,49.0,45.0,44.0,45.0,44.0,NaN,37.0,39.0,...,52.0,46.0,44.0,68.0,78.0,72.0,77.0,NaN,NaN,1476.0
15,Nottingham Forest,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,34.0,58.0,77.0,NaN,40.0,59.0,332.0
16,Southampton,24.0,40.0,43.0,52.0,39.0,36.0,46.0,63.0,60.0,...,44.0,41.0,48.0,41.0,38.0,54.0,43.0,50.0,52.0,1139.0
17,Tottenham,57.0,71.0,62.0,59.0,71.0,77.0,86.0,70.0,64.0,...,53.0,47.0,44.0,46.0,61.0,62.0,45.0,59.0,52.0,1896.0
18,West Ham,37.0,56.0,65.0,39.0,52.0,42.0,45.0,62.0,47.0,...,55.0,57.0,56.0,42.0,51.0,50.0,52.0,NaN,38.0,1333.0
19,Wolverhampton Wanderers,40.0,51.0,45.0,59.0,57.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388.0
20,Burnley,NaN,35.0,39.0,54.0,40.0,54.0,40.0,NaN,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.0
21,Norwich City,NaN,22.0,NaN,21.0,NaN,NaN,NaN,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,43.0,53.0,72.0,45.0,447.0
22,Watford,NaN,23.0,NaN,34.0,50.0,41.0,40.0,45.0,NaN,...,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,285.0
23,Sheffield United,NaN,NaN,23.0,54.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,42.0,52.0,57.0,266.0
24,West Brom,NaN,NaN,26.0,NaN,NaN,31.0,45.0,43.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490.0
25,Cardiff City,NaN,NaN,NaN,NaN,34.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
26,Huddersfield,NaN,NaN,NaN,NaN,16.0,37.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0
27,Stoke City,NaN,NaN,NaN,NaN,NaN,33.0,44.0,51.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,457.0
28,Swansea City,NaN,NaN,NaN,NaN,NaN,33.0,41.0,47.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,312.0
29,Hull City,NaN,NaN,NaN,NaN,NaN,NaN,34.0,NaN,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171.0
30,Middlesbrough,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,...,52.0,51.0,NaN,39.0,43.0,NaN,NaN,44.0,NaN,661.0
31,Sunderland,NaN,NaN,NaN,NaN,NaN,NaN,24.0,39.0,38.0,...,58.0,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN,618.0
32,Queens Park Rangers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,...,NaN,NaN,NaN,NaN,33.0,60.0,60.0,63.0,54.0,362.0
33,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0
34,Wigan Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,331.0
35,Blackburn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,35.0,58.0,42.0,61.0,89.0,84.0,71.0,NaN,970.0
36,Bolton Wanderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,40.0,NaN,29.0,NaN,NaN,NaN,NaN,575.0
37,Birmingham City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0
38,Blackpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0
39,Portsmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.0
40,Derby County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.0,52.0,55.0,46.0,NaN,NaN,NaN,NaN,NaN,274.0
41,Charlton Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361.0
42,Ipswich Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27.0,43.0,52.0,NaN,224.0
43,Bradford City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0
44,Coventry City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.0,42.0,52.0,41.0,38.0,50.0,56.0,52.0,44.0,453.0
45,Sheffield Wednesday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.0,46.0,44.0,57.0,40.0,51.0,64.0,59.0,75.0,467.0
46,Wimbledon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.0,42.0,44.0,56.0,41.0,56.0,65.0,54.0,53.0,444.0
47,Barnsley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
48,Oldham Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.0,49.0,51.0,140.0
49,Swindon Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,30.0
50,Luton Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,42.0
51,Notts County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,40.0

In [46]:
#save league as a csv file
league_historical.to_csv('points.csv', index=False)

### Now, I am reading in the fees file which is data scraped from transfermarkt.

In [47]:
prem_champ_df = pd.read_csv('master.csv')

In [48]:
#find bolton in the dataframe, not exact match
prem_champ_df[prem_champ_df['club_name'].str.contains('Charlton')]

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,country
175953,Charlton Athletic,Chris Powell,28.0,Left-Back,Derby County,€1.25m,in,Summer,1.250,Premier League,1998,1998/1999,England
175954,Charlton Athletic,Neil Redfearn,33.0,Central Midfield,Barnsley FC,€1.15m,in,Summer,1.150,Premier League,1998,1998/1999,England
175955,Charlton Athletic,Carl Tiler,28.0,Centre-Back,Everton FC,€874k,in,Summer,0.874,Premier League,1998,1998/1999,England
175956,Charlton Athletic,Simon Royce,26.0,Goalkeeper,Southend United,free transfer,in,Summer,0.000,Premier League,1998,1998/1999,England
175957,Charlton Athletic,Paul Smith,18.0,Goalkeeper,Walton & Hersham FC,free transfer,in,Summer,0.000,Premier League,1998,1998/1999,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264422,Charlton Athletic,Ashley Maynard-Brewer,20.0,Goalkeeper,Dover Athletic,loan transfer,out,Winter,NaN,Championship,2019,2019/2020,England
264423,Charlton Athletic,Joe Ledley,33.0,Central Midfield,Without Club,-,out,Winter,NaN,Championship,2019,2019/2020,England
264424,Charlton Athletic,Conor Gallagher,19.0,Central Midfield,Chelsea U23,"End of loanJan 14, 2020",out,Winter,NaN,Championship,2019,2019/2020,England
264425,Charlton Athletic,Jonathan Leko,20.0,Right Winger,West Brom,"End of loanJan 1, 2020",out,Winter,NaN,Championship,2019,2019/2020,England
264426,Charlton Athletic,Beram Kayal,31.0,Central Midfield,Brighton,"End of loanJan 15, 2020",out,Winter,NaN,Championship,2019,2019/2020,England

In [49]:
prem_champ_df = prem_champ_df[prem_champ_df['club_name'].isin(['Chelsea FC', 'Manchester United', 'Manchester City', 'Liverpool FC', 'Norwich City', 'Huddersfield Town', 'Blackpool FC', 'Wimbledon FC', 'Ipswich Town',
 'Arsenal FC', 'Tottenham Hotspur', 'Leicester City', 'West Ham United', 'Wolverhampton Wanderers', 'Southampton FC', 'Queens Park Rangers', 'Hull City', 'Wigan Athletic', 'Reading FC', 'Barnsley FC', 'Luton Town',
 'Aston Villa', 'Everton FC', 'Newcastle United', 'Leeds United', 'Southampton FC', 'Crystal Palace', 'Brighton & Hove Albion', 'Burnley FC', 'Sunderland AFC', 'Blackburn Rovers','Middlesbrough FC', 'Derby County',
 'Fulham FC', 'West Bromwich Albion', 'Sheffield United', 'Nottingham Forest', 'Swansea City',  'West Bromwich Albion', 'Stoke City', 'Portsmouth FC', 'Brentford FC', 'Watford FC', 'AFC Bournemouth', 'Bradford City',
 'Cardiff City', 'Birmingham City', 'Bolton Wanderers', 'Coventry City','Swindon Town', 'Oldham Athletic', 'Charlton Athletic', 'Sheffield Wednesday'])]

In [50]:
#keep only where transfer_movement = in
prem_champ_df = prem_champ_df[prem_champ_df['transfer_movement'] == 'in']

In [51]:
#in clubname, replace ' FC' with nothing
prem_champ_df['club_name'] = prem_champ_df['club_name'].str.replace(' FC', '')

In [52]:
#group by club_name, year and sum fee_cleaned
prem_champ_df = prem_champ_df.groupby(['club_name', 'year']).sum('fee_cleaned').reset_index()
prem_champ_df

                    club_name  year    age  fee_cleaned
0             AFC Bournemouth  2013  865.0        4.055
1             AFC Bournemouth  2014  639.0        4.820
2             AFC Bournemouth  2015  861.0       55.110
3             AFC Bournemouth  2016  431.0       40.690
4             AFC Bournemouth  2017  382.0       34.300
...                       ...   ...    ...          ...
999   Wolverhampton Wanderers  2018  822.0      112.750
1000  Wolverhampton Wanderers  2019  593.0      116.700
1001  Wolverhampton Wanderers  2020  443.0       87.589
1002  Wolverhampton Wanderers  2021  529.0       37.600
1003  Wolverhampton Wanderers  2022  716.0      177.107

[1004 rows x 4 columns]

In [53]:
#give me unique club names in prem_champ_df
prem_champ_df['club_name'].unique()

array(['AFC Bournemouth', 'Arsenal', 'Aston Villa', 'Barnsley',
       'Birmingham City', 'Blackburn Rovers', 'Blackpool',
       'Bolton Wanderers', 'Bradford City', 'Brentford',
       'Brighton & Hove Albion', 'Burnley', 'Cardiff City',
       'Charlton Athletic', 'Chelsea', 'Coventry City', 'Crystal Palace',
       'Derby County', 'Everton', 'Fulham', 'Huddersfield Town',
       'Hull City', 'Ipswich Town', 'Leeds United', 'Leicester City',
       'Liverpool', 'Luton Town', 'Manchester City', 'Manchester United',
       'Middlesbrough', 'Newcastle United', 'Norwich City',
       'Nottingham Forest', 'Oldham Athletic', 'Portsmouth',
       'Queens Park Rangers', 'Reading', 'Sheffield United',
       'Sheffield Wednesday', 'Southampton', 'Stoke City',
       'Sunderland AFC', 'Swansea City', 'Swindon Town',
       'Tottenham Hotspur', 'Watford', 'West Bromwich Albion',
       'West Ham United', 'Wigan Athletic', 'Wimbledon',
       'Wolverhampton Wanderers'], dtype=object)

In [54]:
#remove the age column
prem_champ_df = prem_champ_df.drop(columns=['age'])

In [55]:
#unmelt this dataframe
prem_champ_df = prem_champ_df.pivot(index='club_name', columns='year', values='fee_cleaned').reset_index()
prem_champ_df

year,club_name,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AFC Bournemouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.055,4.820,55.110,40.690,34.300,91.600,54.910,0.000,12.640,83.100
1,Arsenal,4.600,1.280,7.180,18.350,6.110,22.025,15.950,25.400,56.300,...,49.250,118.980,26.500,113.000,152.850,80.150,160.800,86.000,167.400,192.360
2,Aston Villa,3.930,4.250,7.340,11.067,8.100,10.500,42.800,9.600,21.120,...,19.840,13.450,66.550,85.500,2.800,19.100,159.500,101.350,129.800,100.140
3,Barnsley,NaN,NaN,NaN,NaN,NaN,6.937,NaN,NaN,NaN,...,0.545,NaN,NaN,2.540,6.385,NaN,6.350,3.000,1.200,NaN
4,Birmingham City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.000,3.040,10.085,17.650,2.500,10.280,8.340,0.000,0.000
5,Blackburn Rovers,9.938,11.780,9.750,16.500,0.000,10.125,56.390,NaN,NaN,...,2.270,3.030,0.000,0.200,NaN,10.200,6.500,1.810,1.360,1.750
6,Blackpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.580,0.000,NaN,NaN,NaN,NaN,NaN,NaN,1.995,0.350
7,Bolton Wanderers,NaN,NaN,NaN,9.496,NaN,14.210,NaN,NaN,NaN,...,2.130,0.013,0.000,NaN,0.000,0.225,NaN,NaN,NaN,NaN
8,Bradford City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.687,6.605,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Brentford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.600,10.390,5.150,11.320,6.550,34.650,7.300,36.700,51.500
10,Brighton & Hove Albion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,3.800,13.470,8.750,66.500,87.120,61.740,28.500,75.000,55.730
11,Burnley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.545,12.620,25.705,45.600,35.740,33.000,23.850,1.100,49.400,38.200
12,Cardiff City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.815,18.773,0.000,4.300,12.670,40.200,18.015,3.795,0.000,0.655
13,Charlton Athletic,NaN,NaN,NaN,NaN,NaN,NaN,6.189,NaN,20.800,...,0.500,3.800,4.750,NaN,NaN,NaN,0.225,NaN,NaN,NaN
14,Chelsea,2.925,3.840,6.130,1.900,15.565,17.800,19.300,26.360,52.390,...,130.350,137.700,96.500,132.800,260.500,208.800,45.000,247.200,118.000,611.490
15,Coventry City,1.455,0.945,7.080,6.250,8.000,4.650,7.700,20.330,19.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500,1.200,0.000
16,Crystal Palace,1.340,NaN,1.701,NaN,NaN,13.700,NaN,NaN,NaN,...,33.000,31.220,28.800,101.200,48.950,11.850,7.600,22.400,85.620,46.600
17,Derby County,NaN,NaN,NaN,NaN,3.665,3.800,5.686,16.400,13.325,...,1.653,3.011,34.060,17.265,12.270,13.980,8.200,4.300,0.000,NaN
18,Everton,0.703,4.055,12.380,16.980,10.750,8.325,29.650,7.600,34.484,...,31.800,40.160,48.200,86.000,203.200,99.800,121.000,73.370,39.500,78.200
19,Fulham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.300,17.430,8.665,25.550,20.170,116.500,37.000,37.250,22.000,70.500
20,Huddersfield Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.180,0.470,0.635,4.450,56.750,50.700,13.000,0.700,0.000,1.520
21,Hull City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.100,48.217,11.450,40.000,19.845,2.400,3.690,NaN,0.800,11.500
22,Ipswich Town,0.750,2.380,1.021,NaN,NaN,NaN,NaN,NaN,9.600,...,0.045,0.135,0.513,1.792,3.530,3.430,NaN,NaN,NaN,NaN
23,Leeds United,3.815,4.663,4.925,4.700,16.625,15.910,8.450,35.705,53.155,...,2.270,9.110,6.965,8.580,28.430,11.400,0.290,127.800,59.300,145.590
24,Leicester City,NaN,NaN,3.700,NaN,8.940,3.650,8.900,6.300,11.695,...,0.500,22.860,49.900,92.100,83.845,114.600,104.300,59.400,67.600,48.000
25,Liverpool,4.150,8.000,12.060,19.250,3.500,18.550,13.490,54.500,34.000,...,58.100,151.430,126.500,79.900,173.650,182.200,10.400,84.050,87.000,137.300
26,Luton Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.815,0.000,0.000,2.115
27,Manchester City,0.000,7.591,2.500,11.763,NaN,NaN,NaN,NaN,20.275,...,115.500,102.800,208.470,216.250,317.500,78.590,166.820,173.400,138.900,150.500
28,Manchester United,3.525,8.500,11.820,0.575,11.230,13.550,44.750,7.950,11.700,...,77.130,195.350,156.000,185.000,198.400,82.700,234.800,83.800,142.000,243.280
29,Middlesbrough,3.184,NaN,NaN,13.000,16.280,NaN,12.080,10.320,33.470,...,2.390,11.110,33.400,47.950,55.650,21.500,3.520,3.000,12.560,10.230
30,Newcastle United,NaN,6.597,10.880,32.200,18.000,33.595,42.600,27.250,25.910,...,3.800,45.020,107.910,64.250,46.500,59.750,72.900,39.000,130.500,185.350
31,Norwich City,1.000,0.625,3.460,NaN,NaN,NaN,NaN,NaN,NaN,...,30.050,20.350,50.500,26.450,15.116,5.450,8.815,13.285,63.550,14.400
32,Nottingham Forest,1.410,NaN,6.700,3.843,9.685,NaN,8.800,NaN,NaN,...,8.650,10.200,0.000,4.458,7.255,27.430,8.000,15.140,6.994,184.250
33,Oldham Athletic,2.571,0.628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Portsmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Queens Park Rangers,0.126,0.820,0.360,5.335,NaN,NaN,NaN,NaN,NaN,...,11.825,43.538,17.420,12.870,0.700,0.000,0.060,7.100,1.850,0.000
36,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,1.500,6.200,8.935,14.100,5.250,12.900,3.900,0.000,0.000
37,Sheffield United,0.360,1.595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.640,6.700,70.500,62.700,0.300,4.500
38,Sheffield Wednesday,3.200,7.404,4.457,12.750,9.040,10.985,4.610,8.000,NaN,...,0.407,2.500,15.460,10.895,15.200,0.000,1.100,1.110,NaN,NaN
39,Southampton,2.953,2.920,3.288,2.240,3.243,8.880,7.300,3.425,0.000,...,39.600,96.000,60.100,68.900,61.250,62.250,61.500,37.300,43.100,143.650
40,Stoke City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000,1.800,53.650,42.165,57.700,62.900,6.700,2.200,4.650,0.000
41,Sunderland AFC,NaN,NaN,NaN,NaN,7.430,NaN,NaN,16.700,16.865,...,33.910,22.520,66.050,41.900,1.405,NaN,NaN,NaN,NaN,6.060
42,Swansea City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.612,41.530,21.810,58.100,73.385,7.150,0.550,1.963,5.926,2.300
43,Swindon Town,NaN,1.746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Tottenham Hotspur,7.575,4.418,9.350,13.370,8.250,17.700,9.780,17.000,25.740,...,122.550,48.480,71.000,83.500,121.000,0.000,150.500,110.500,95.900,177.900
45,Watford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.400,NaN,...,0.000,9.000,82.800,70.450,73.400,30.100,56.000,0.000,43.500,18.810
46,West Bromwich Albion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.700,24.880,42.900,37.900,53.500,15.190,21.500,42.140,8.640,1.345
47,West Ham United,NaN,2.014,8.373,4.724,14.800,12.605,11.140,7.780,18.656,...,24.000,35.150,52.700,83.500,56.800,100.900,119.800,54.700,74.500,194.000
48,Wigan Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.405,14.150,NaN,1.985,NaN,5.645,7.925,NaN,NaN,0.000
49,Wimbledon,2.143,0.585,3.330,0.855,2.880,5.209,16.750,8.250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Wolverhampton Wanderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.850,9.344,36.100,24.610,112.750,116.700,87.589,37.600,177.107

In [56]:
#save prem champ as a csv file
prem_champ_df.to_csv('fees.csv', index=False)